body {
    text-align: center;
    background-color: #F4F4FA;
    color: black;
    font-size: 1rem;
    margin-top: 30px;
    overflow: scroll !important;
    font-family: 'Ubuntu', sans-serif;
}
.full-height {
    height: 100vh;
}
input:focus {
    outline: none;
}
textarea {
    min-width: 300px;
    min-height: 300px;
    padding: 10px;
    font-size: 1.2rem;
}
textarea:focus {
    outline: none;
}
.label {
    position: fixed;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
}
.d-flex {
    display: flex;
}
.m-auto {
    margin: auto;
}
.card {
    color: black;
    max-height: 550px;
    text-align: left;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 40px 0 rgba(41,41,211,.05);
    word-break: break-all;
    background-color: #ffffff;
    padding: 15px;
    min-height: 300px;
    max-width: 75vw;
    min-width: 280px;
    border-radius: 16px;
}
.emoji {
    font-size: 1.7rem;
}
.card-archive {
    max-height: 200px;
    min-height: 100px;
    margin-bottom: 20px;
}
.card-wrapper:last-child {
    margin-bottom: 200px;
}
@media screen and (max-width: 640px) {
    .card {
        min-width: 75vw;
        width: 100%;
    }
}
a {
    color: black;
}
.MuiMobileStepper-progress {
    width: 80vw !important;
}
.MuiBottomNavigation-root {
    position: fixed;
    width: 100vw;
    bottom: 0;
}
.header {
    max-width: 80vw;
    margin-left: 10vw;
    text-align: left;
    margin-bottom: 40px;
}
.header-title {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
}
.header-subtitle, .domain-helper {
    color: #9c9a9a;
}
.overflow-hidden {
    overflow: hidden;
}
.domain-helper {
    text-align: center;
    margin-top: 1rem;
}
.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}
.button {
    background-color: #0001FC;
    color: white;
    box-shadow: 0 20px 40px 0 rgba(41,41,211,.05);
    display: inline-block;
    z-index: 10;
    font-weight: bold;
    /*background-color: #E5E7FE;*/
    border-radius: 5px;
    padding: 10px 50px;
}
.card a {
    text-decoration: none;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.dot {
    height: 8px;
    width: 8px;
    margin-top: 0.5rem;
    background-color: #0001FC;
    border-radius: 50%;
}
.figure-name {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-transform: capitalize;
}
.MuiBottomNavigationAction-root .MuiBottomNavigationAction-wrapper > div {
    color: #A9A7BC !important;
    font-size: 0.9rem !important;
}
.MuiBottomNavigationAction-root.Mui-selected .MuiBottomNavigationAction-wrapper > div {
    color: black !important;
    font-weight: 700 !important;
    font-size: 0.9rem !important;
}
.bold {
    font-weight: bold;
}
.loader {
    font-size: 28.0vw;
    text-align: left;
    color: #0001FC;
    z-index: 10;
    transform: translate(-3px, -40px);
}