body {
    text-align: center;
    background-color: #1C1C1C;
    color: white;
    font-size: 1.3rem;
}
input, textarea {
    background-color: #696969;
    border: 1px solid #696969;
    border-radius: 5px;
    padding: 3px;
    color: white;
    font-size: 1rem;
}
input:focus {
    outline: none;
}
textarea {
    min-width: 300px;
    min-height: 300px;
    padding: 10px;
    font-size: 1.2rem;
}
textarea:focus {
    outline: none;
}
.label {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
}
.d-flex {
    display: flex;
}
.m-auto {
    margin: auto;
}
.card {
    text-align: left;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.24);
    background-color: #313235;
    padding: 20px;
    min-height: 400px;
    max-width: 80vw;
    min-width: 280px;
    margin-top: 50px;
    border-radius: 8px;
}
@media screen and (max-width: 640px) {
    .card {
        min-width: 80vw;
    }
}
a {
    color: white;
}