body {
    text-align: center;
    background-color: #F4F4FA;
    color: black;
    font-size: 1rem;
    margin-top: 25px;
    overflow-y: scroll;
}
body * {
    font-family: 'Ubuntu', sans-serif !important;
}
.full-height {
    height: 100vh;
}
input:focus {
    outline: none;
}
textarea {
    min-width: 300px;
    min-height: 300px;
    padding: 10px;
    font-size: 1.2rem;
}
textarea:focus {
    outline: none;
}
.label {
    position: fixed;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
}
.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.m-auto {
    margin: auto;
}
.card {
    color: black;
    max-height: 550px;
    text-align: left;
    margin: auto;
    display: flex;
    flex-direction: column;
    word-break: break-all;
    background-color: #ffffff;
    padding: 15px;
    min-height: 350px;
    min-width: 280px;
    border-radius: 16px;
}
.emoji {
    font-size: 1.7rem;
}
.card-archive {
    max-height: 280px;
    min-height: 100px;
    margin-bottom: 20px;
}
.overlay {
    z-index: 1;
    position: fixed;
    background: #F4F4FA;
    will-change: opacity;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 990px;
}
.card-wrapper:last-child {
    margin-bottom: 200px;
}
@media screen and (max-width: 640px) {
    .card {
        width: calc(90vw - 30px);
        min-width: unset;
    }
}
@media screen and (max-width: 345px) {
    .card {
        min-height: 230px;
    }
}
a {
    color: black;
}
.MuiMobileStepper-progress {
    width: 100vw !important;
}
.MuiMobileStepper-root {
    height: 4px !important;
    padding: 0 !important;
}
.MuiBottomNavigation-root {
    position: fixed;
    width: 100vw;
    bottom: 0;
}
.header {
    max-width: 90vw;
    margin-left: 5vw;
    text-align: left;
    margin-bottom: 20px;
}
.header-title {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
}
.header-subtitle, .domain-helper {
    color: #9c9a9a;
}
.overflow-hidden {
    overflow: hidden;
}
.domain-helper {
    text-align: center;
    margin-top: 1rem;
}
.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}
.button {
    background-color: #0001FC;
    color: white;
    box-shadow: 0 20px 40px 0 rgba(41,41,211,.05);
    display: inline-block;
    z-index: 10;
    font-weight: bold;
    /*background-color: #E5E7FE;*/
    border-radius: 5px;
    padding: 10px 50px;
}
.card a {
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.dot {
    height: 8px;
    width: 8px;
    margin-top: 0.5rem;
    background-color: #0001fc;
    border-radius: 50%;
}
.figure-name {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0.7rem;
    text-transform: capitalize;
}
.MuiBottomNavigationAction-root .MuiBottomNavigationAction-wrapper > div {
    color: #A9A7BC !important;
    font-size: 0.9rem !important;
}
.MuiBottomNavigationAction-root.Mui-selected .MuiBottomNavigationAction-wrapper > div {
    color: black !important;
    font-weight: 700 !important;
    font-size: 0.9rem !important;
}
.bold {
    font-weight: bold;
}
.big-emoji {
    font-size: 8rem;
}
.loader {
    font-size: 28.0vw;
    text-align: left;
    color: #0001FC;
    z-index: 10;
    transform: translate(-3px, -40px);
}
.indicators {
    font-size: 1.3rem;
}
.text-center {
    text-align: center;
}
.archive-search {
    margin-bottom: 1.3rem;
}
.archive-search input {
    border: none;
    height: 30px;
    padding: 15px;
    box-shadow: 0 20px 40px 0 rgba(41,41,211,.05);
    border-radius: 16px;
    width: calc(90vw - 30px);
}
input::placeholder {
    color: #9c9a9a;
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 0.9rem;
}
.big-emoji {
    max-height: 140px;
}
.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4rem;
}
.post-date {
    color: #9c9a9a;
    font-size: 0.9rem;
}
.opacity-transition * {
    animation-name: animation-opacity;
    animation-duration: 0.4s;
}
.card * {
}
.card-content-visible * {
    transition: opacity 0.3s ease-out 0.2s;
    opacity: 1;
}
.card-content-invisible * {
    opacity: 0;
}
.card-content-container.open {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    padding: 40px 0;
}
.overlay.open {
    background-color: white;
}
.card-content-container.open .card {
    margin: 0;
    width: calc(100vw - 30px);
    max-width: unset;
    min-height: unset;
    padding-top: 5vh;
    max-height: unset;
}
.card-content-visible {
}
.card-content-container.open .card .post-header {
    margin-bottom: 3vh;
}
.card-content-container.open .card .post-tags {
    margin-bottom: 3vh;
}
.card-content {
    pointer-events: auto;
    position: relative;
    border-radius: 20px;
    background: #F4F4FA;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.open .card-content {
    height: auto;
    max-width: 700px;
    overflow: hidden;
}
.card-content-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    transition: top 1s linear;
}
@media only screen and (max-width: 600px) {
    .card-content-container.open {
        padding: 0;
    }
}
/*.selectedPost {*/
/*    position: relative !important;*/
/*    transform: none !important;*/
/*    transform-origin: unset !important;*/
/*    top: unset !important;*/
/*}*/
.deport {
    position: absolute;
    bottom: -1000px;
}
.notdeported {
    position: relative;
    bottom: unset;
}
.figure {
    min-height: unset;
    max-height: 250px;
}

@keyframes animation-opacity {
    0%   {opacity: 1;}
    1%  {opacity: 0;}
    85%  {opacity: 0;}
    100% {opacity: 1;}
}
.swipe-indicator img{
    max-width: 50px;
    transform: translateY(-50px);
}
.medias-indicator {
    display: flex;
    margin-top: auto;
}
.media-image img {
    max-width: 100%;
    max-height: 250px;
}
.card-fullcontent {
    background-color: white;
    transform: translateY(-8px);
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 40px;
    min-height: calc(100vh - 210px);
}
.card-button-section {
    margin-top: auto;
}
.gif {
    max-height: 210px;
}

.swipe {
    position: absolute;
}
.swipe-card-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    max-height: 30vh;
    overflow: hidden;
    min-height: calc(350px + 30px);
}

.swipe:first-child .card {
    box-shadow: 0 20px 40px 0 rgba(41,41,211,.05);
}

.swipeCard {
    position: relative;
    background-color: #fff;
    width: 90vw;
    height: 300px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}
.swipe-actions {
    max-width: 90vw;
    margin-top: 5vw;
    margin-left: 5vw;
    text-align: left;
}
.swipe-actions button {
    box-shadow: 0 20px 40px 0 rgba(41,41,211,.1);
    background-color: white;
    border-radius: 50%;
    border: none;
    padding: 10px;
}
button:focus {
    outline: none;
}
.swipe-back-icon {
    transform: rotate(-22deg) translateY(1px);
    max-height: 30px;
}
.postindex-indicator {
    position: absolute;
    top: 0;
}